.calcite .icon-container {
    margin: 10px 0 20px;
}
.calcite .basemap-dialog-icon {
    font-size: 32px;
    line-height: 32px;
    float: left;
    color: #007ac2;
    cursor: pointer;
    margin: 0 10px 0 0;
}
.esriRTL .calcite .basemap-dialog-icon {
    float: right;
    margin: 0 0 0 10px;
}
.calcite .basemap-dialog-icon:hover {
    color: #97cbec;
}
.calcite .basemap-dialog-icon:active {
    color: #555;
}
.calcite .icon-clear {
    clear: both;
}
.calcite .basemap-dialog-subheader {
    font-size: 19px;
    margin: 0 0 5px;
}